<div class="col-md-12" id="snippets">
    <ul id="snippet-list" class="list-group">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">{{article.title}}</h5>
                            <p>
                                <strong>Link</strong>: {{article.link}}</p>
                            <p>
                                <p><a href="/">← Back To Home</a></p>
                                <p><a href="/article/update/{{article.id}}">← Comment on this Article</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ul>
</div>