{{#each article}}
<article class="card border-secondary mb-3 rounded-0">
    <div class="card-header">
        <ul class="list-inline">
            <li class="list-inline-item float-left">
            <h5><a href="{{this.link}}">{{this.title}}</a></h5>
            </li>
        </ul>
    </div>
    <div class="card-body text-secondary">
        <div class="card-title">
            <a href="/leaveComment/{{_id}}" class="card-link">Leave a Comment</a>
        </div>
    </div>
</article>
{{/each}}